<component name="ArtifactManager">
  <artifact type="war" name="MybatisJoinSpringMVC:war">
    <output-path>$PROJECT_DIR$/MybatisJoinSpringMVC/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>MybatisJoinSpringMVC</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="mybatis.war">
      <element id="artifact" artifact-name="MybatisJoinSpringMVC:war exploded" />
    </root>
  </artifact>
</component>