<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注意不要扫描controller-->
    <context:component-scan base-package="com.ssm.service,com.ssm.util,com.ssm.aop"/>
    <!--加载jdbc配置文件-->
    <context:property-placeholder location="classpath*:jdbc.properties"/>
    <!--创建德鲁伊连接池-->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--配置事务管理类-->
    <bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>
    <tx:annotation-driven transaction-manager="tm"/>
    <aop:aspectj-autoproxy/>

    <!--spring整合Mybatis-->
    <!--1.整合sqlSessionFactory-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="ds"/>
        <!--注入mybatis核心配置文件-->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!--注入映射文件 通用地址-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--注入插件-->
        <property name="plugins">
            <array>
                <!--配置一个插件：分页插件-->
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <props>
                            <!--数据库方言必须要配置-->
                            <prop key="helperDialect">mysql</prop>
                            <!--其他配置看个人需求-->
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!--2.spring整合mapper接口：会动态创建mapper接口的实现类，使用时直接注入@Autowired-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入工厂-->
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
        <!--注入mapper接口的包在哪里-->
        <property name="basePackage" value="com.ssm.mapper"/>
    </bean>

</beans>